body {
  background-color: rgb(219, 212, 212);
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

      h1 {
        text-align: center;
        font-size: 45px;
        font-style: italic;
        text-decoration: underline;        
      }

      h2 {
        text-align: center;
        font-size: 3em;
        font-style: italic;
        
      }

      h3 {
        text-align: center;
        font-style: italic;

      }
     
      #introdução {
        background-color: bisque;
        
      }

      #presentation {
        display: inline;
        
      }
      .picture {
          border-radius: 100%;
          width: 140px;          

      }

      .button {
          background-color: darkred;
          color: bisque;
          text-decoration: none;
      }

      .type {
        touch-action: none;
      }

      .type-icon {
        height: 2px;
        width: 2px;
        display: inline;
      }

      #tamanho {
        height: 15px;
        width: 15px;
      }
      #imagy-family {
        background-position: center;
      
      }




    

